<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <client>
        <!-- specifies the endpoint to use when calling the service -->
        <endpoint address="http://localhost:8000/ServiceModelSamples/Service/Service1"
            contract="IronChain.IService1" name="WSHttpBinding_IService1">
          <identity>
            <userPrincipalName value="migree@redmond.corp.microsoft.com" />
          </identity>
        </endpoint>
      </client>
      <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="IronChain.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="IronChain.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000/GettingStarted/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>